# Copy this file to .env and fill in your values
# Run: cp .env.example .env

# Expo API Token - If you use multiple accounts aka a personal and a work account, you can use this to switch between them.
# Expo only allows you to have one token per account. If using the global auth. 
EXPO_TOKEN=
